{{- $readMore := (T "readMore") -}} {{- $pages := where site.RegularPages
"Section" "==" "docs" -}} {{- $pages = sort $pages "Lastmod" "desc" | first 3
-}}
<div
  class="hextra-cards hx:mt-4 hx:gap-4 hx:grid not-prose"
  style="--hextra-cards-grid-cols: 3"
>
  {{- range $pages -}} {{- partial "shortcodes/card" (dict "page" . "link"
  .RelPermalink "title" .Title "icon" "document" "subtitle" (.Lastmod |
  time.Format "2 Jan 2006") "image" "" "alt" .Title "width" 0 "height" 0
  "imageStyle" "" "tag" (index .Params.tags 0) "tagType" "" "tagBorder" true
  "tagIcon" "" ) -}} {{- end -}}
</div>
